@import url(https://db.onlinewebfonts.com/c/0708750c88d918d47828a72877512015?family=Olicana+W00+Rough);
*
{
	margin: 0;
	padding: 0;
}


div
{
	height: 660px;
	width: 1473px;
	border: 1px solid #fff;
	background-image: url("images/spider-man.jpg"),url("images/splash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: screen;
}



div h1
{
	position: absolute;
	font-style: roboto;
	margin-top: 470px;
	margin-left: 1200px;
	font-family: Olicana W00 Rough;
	font-size: 50px;
}

div p
{
	position: absolute;
	margin-top: 550px;
	margin-left: 1210px;
	font-family: roboto;
	font-size: 13px;
}